examples/Api.messages.SendMessage.json
[{"id":"7f66f74d4da2179d","type":"telegram client sender","z":"3d8bc5187eb93fc0","name":"","bot":"b4217d5b3ad6f705","x":660,"y":640,"wires":[["fce968085d0d85fb"]]},{"id":"fce968085d0d85fb","type":"debug","z":"3d8bc5187eb93fc0","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":640,"wires":[]},{"id":"48d2b7cfa10e35d4","type":"function","z":"3d8bc5187eb93fc0","name":"send message","func":"// see https://gram.js.org/tl/messages/SendMessage\nlet username = msg.payload;\nmsg.payload = {\n    api: 'messages',\n    func: 'SendMessage',\n    args: {\n        peer: username,\n        message: \"Hello there!\",\n        randomId: BigInt(\"-4156887774564\"),\n        noWebpage: true,\n        noforwards: true,\n        scheduleDate: 0,\n        // sendAs: \"???\",\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":640,"wires":[["7f66f74d4da2179d"]]},{"id":"57bcd2488838edef","type":"inject","z":"3d8bc5187eb93fc0","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":170,"y":640,"wires":[["48d2b7cfa10e35d4"]]},{"id":"b4217d5b3ad6f705","type":"telegram client config","botname":"Username","verboselogging":false}]